USE [master]
GO
/****** Object:  Database [Biblioteca]    Script Date: 04/12/2018 18:52:30 ******/
CREATE DATABASE [Biblioteca]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblioteca', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Biblioteca.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Biblioteca_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Biblioteca_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteca].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteca]
GO
USE [Biblioteca]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 04/12/2018 18:52:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NOT NULL,
	[ClaimValue] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[IdPersona] [nvarchar](10) NOT NULL,
	[IDBIBLIOTECA] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTOR]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOR](
	[IDAUTOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_AUTOR] PRIMARY KEY CLUSTERED 
(
	[IDAUTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BIBLIOTECA]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BIBLIOTECA](
	[IDBIBLIOTECA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[DIRECCION] [varchar](255) NULL,
	[TELEFONO] [varchar](255) NULL,
 CONSTRAINT [PK_Biblioteca] PRIMARY KEY CLUSTERED 
(
	[IDBIBLIOTECA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATERGORIA]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATERGORIA](
	[IDCATEGORIA] [varchar](64) NOT NULL,
	[ID] [nvarchar](128) NOT NULL,
	[Descripcion] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_CATERGORIA] PRIMARY KEY CLUSTERED 
(
	[IDCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[IDDEP] [int] NOT NULL,
	[IDMUNICIPIO] [int] NOT NULL,
	[NOMDEP] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_DEPARTAMENTO] PRIMARY KEY CLUSTERED 
(
	[IDDEP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLEDEPERSONA]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLEDEPERSONA](
	[IDDETALLE] [int] IDENTITY(1,1) NOT NULL,
	[IDPERSONA] [nvarchar](10) NULL,
	[LUGARDEESTUDIOS] [varchar](255) NULL,
	[TRABAJA] [bit] NULL,
	[ESTUDIA] [bit] NULL,
	[NOMBREMADRE] [varchar](255) NULL,
	[NOMBREPADRE] [varchar](255) NULL,
 CONSTRAINT [PK_DETALLEDEPERSONA] PRIMARY KEY CLUSTERED 
(
	[IDDETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTOLOCALIDAD]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTOLOCALIDAD](
	[IDLOCALIDAD] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[LOCALIDADFISICOODIGITAL] [bit] NOT NULL,
	[LOCACIONOURL] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_DOCUMENTOLOCALIDAD] PRIMARY KEY CLUSTERED 
(
	[IDLOCALIDAD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIALBIBLIOGRAFICO]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIALBIBLIOGRAFICO](
	[IDMATBIBLIO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[IDLOCALIDAD] [numeric](18, 0) NOT NULL,
	[IDCATEGORIA] [varchar](64) NOT NULL,
	[IDTIPO] [numeric](18, 0) NOT NULL,
	[ID] [nvarchar](128) NOT NULL,
	[NOMBRE] [varchar](1024) NOT NULL,
	[DESCRIPCION] [varchar](1024) NOT NULL,
	[SINOPSIS] [varchar](1024) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[VOLUMEN] [int] NOT NULL,
	[UNIDADES] [varchar](1024) NOT NULL,
	[EDITORIAL] [varchar](1024) NOT NULL,
	[LENGUAJE] [varchar](1024) NOT NULL,
	[FOTO] [varchar](1024) NOT NULL,
	[IDAUTOR] [int] NOT NULL,
	[IDSUBCATEGORIA] [varchar](64) NOT NULL,
	[IDBIBLIOTECA] [int] NULL,
 CONSTRAINT [PK_MATERIALBIBLIOGRAFICO] PRIMARY KEY CLUSTERED 
(
	[IDMATBIBLIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[IDMENU] [int] NOT NULL,
	[ID] [nvarchar](128) NOT NULL,
	[MEN_IDMENU] [int] NOT NULL,
	[NOMBRE] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_MENU] PRIMARY KEY CLUSTERED 
(
	[IDMENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUNICIPIO]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUNICIPIO](
	[IDMUNICIPIO] [int] NOT NULL,
	[NOMMUN] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_MUNICIPIO] PRIMARY KEY CLUSTERED 
(
	[IDMUNICIPIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PENALIZACION]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PENALIZACION](
	[IDPE] [int] NOT NULL,
	[ID] [nvarchar](128) NOT NULL,
	[FECHAINI] [datetime] NOT NULL,
	[FECHAFIN] [datetime] NOT NULL,
 CONSTRAINT [PK_PENALIZACION] PRIMARY KEY CLUSTERED 
(
	[IDPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[IDPERSONA] [nvarchar](10) NOT NULL,
	[IDMUNICIPIO] [int] NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[APELLIDO] [varchar](255) NOT NULL,
	[FECHANACIMIENTO] [date] NOT NULL,
	[GENERO] [varchar](255) NOT NULL,
	[DIRECCION] [varchar](255) NOT NULL,
	[TELEFONO] [varchar](255) NOT NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[IDPERSONA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTAMO]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTAMO](
	[IDPRESTAMO] [int] IDENTITY(1,1) NOT NULL,
	[IDMATBIBLIO] [numeric](18, 0) NOT NULL,
	[ID] [nvarchar](128) NOT NULL,
	[FECHADEPRESTAMO] [varchar](1024) NOT NULL,
	[FECHADEENTREGA] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_PRESTAMO] PRIMARY KEY CLUSTERED 
(
	[IDPRESTAMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRO]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRO](
	[IDREGISTRO] [int] IDENTITY(1,1) NOT NULL,
	[Id] [nvarchar](128) NOT NULL,
	[IDPRESTAMO] [int] NOT NULL,
	[IDMATBIBLIO] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_REGISTRO] PRIMARY KEY CLUSTERED 
(
	[IDREGISTRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBCATEGORIA]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBCATEGORIA](
	[IDSUBCATEGORIA] [varchar](64) NOT NULL,
	[DESCRIPCION] [varchar](1024) NOT NULL,
	[IDCATEGORIA] [varchar](64) NOT NULL,
 CONSTRAINT [PK_SUBCATEGORIA] PRIMARY KEY CLUSTERED 
(
	[IDSUBCATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPODOCUMENTO]    Script Date: 04/12/2018 18:52:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPODOCUMENTO](
	[IDTIPO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TIPODOCUMENTO] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_TIPODOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[IDTIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Administrador Bibliotecario')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'32114f7e-d14a-4425-bb75-0ded19dfbac2', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7717781a-bbe9-4009-b9ec-f1f53d20b6f4', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'922adef2-f529-4e0d-a42c-2fd0bd7eafcb', N'1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IdPersona], [IDBIBLIOTECA]) VALUES (N'32114f7e-d14a-4425-bb75-0ded19dfbac2', N'alexislopez370@gmail.com', 0, N'AOi6AsadP6xLIUhe14gbTq70TggEMyck/zBAr9OOAH+oc68PtJtcDaYzPVOgIUo7Gw==', N'8a6887b3-1c93-44f1-b82c-90fa3a21f104', NULL, 0, 0, NULL, 1, 0, N'alexislopez370@gmail.com', N'aaaa', 1)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IdPersona], [IDBIBLIOTECA]) VALUES (N'7717781a-bbe9-4009-b9ec-f1f53d20b6f4', N'alexislopez350aaa@gmail.com', 0, N'AP/awEB+triRPvo/md/USEGA7dLx+gulADsVxyrSBbeb/hz+WSLG2oyewj5ED3vX+g==', N'f042c921-a9e4-42af-a96e-b6ed4e962254', NULL, 0, 0, NULL, 1, 0, N'alexislopez350aaa@gmail.com', N'65', 1)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [IdPersona], [IDBIBLIOTECA]) VALUES (N'922adef2-f529-4e0d-a42c-2fd0bd7eafcb', N'alexislopez350@gmail.com', 0, N'AL7zBUH08PsNcIuSmKBJ1zmit6ghhySA+poR4T/3qGDNUALJTIR3XKgsGBDNW5KPbg==', N'd4cf1675-b636-47d2-9569-c31975ae7e66', NULL, 0, 0, NULL, 1, 0, N'alexislopez350@gmail.com', N'aa', 1)
SET IDENTITY_INSERT [dbo].[AUTOR] ON 

INSERT [dbo].[AUTOR] ([IDAUTOR], [NOMBRE]) VALUES (1, N'aaaa')
INSERT [dbo].[AUTOR] ([IDAUTOR], [NOMBRE]) VALUES (2, N'Alexis')
SET IDENTITY_INSERT [dbo].[AUTOR] OFF
SET IDENTITY_INSERT [dbo].[BIBLIOTECA] ON 

INSERT [dbo].[BIBLIOTECA] ([IDBIBLIOTECA], [NOMBRE], [DIRECCION], [TELEFONO]) VALUES (1, N'Biblioteca A', N'a', N'a')
SET IDENTITY_INSERT [dbo].[BIBLIOTECA] OFF
INSERT [dbo].[CATERGORIA] ([IDCATEGORIA], [ID], [Descripcion]) VALUES (N'aaaaaaaaa', N'922adef2-f529-4e0d-a42c-2fd0bd7eafcb', N'aaaaaaaaaaa')
INSERT [dbo].[CATERGORIA] ([IDCATEGORIA], [ID], [Descripcion]) VALUES (N'Hentai', N'922adef2-f529-4e0d-a42c-2fd0bd7eafcb', N'AAAA')
SET IDENTITY_INSERT [dbo].[DOCUMENTOLOCALIDAD] ON 

INSERT [dbo].[DOCUMENTOLOCALIDAD] ([IDLOCALIDAD], [LOCALIDADFISICOODIGITAL], [LOCACIONOURL]) VALUES (CAST(1 AS Numeric(18, 0)), 0, N'')
SET IDENTITY_INSERT [dbo].[DOCUMENTOLOCALIDAD] OFF
SET IDENTITY_INSERT [dbo].[MATERIALBIBLIOGRAFICO] ON 

INSERT [dbo].[MATERIALBIBLIOGRAFICO] ([IDMATBIBLIO], [IDLOCALIDAD], [IDCATEGORIA], [IDTIPO], [ID], [NOMBRE], [DESCRIPCION], [SINOPSIS], [FECHA], [VOLUMEN], [UNIDADES], [EDITORIAL], [LENGUAJE], [FOTO], [IDAUTOR], [IDSUBCATEGORIA], [IDBIBLIOTECA]) VALUES (CAST(10 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'Hentai', CAST(1 AS Numeric(18, 0)), N'922adef2-f529-4e0d-a42c-2fd0bd7eafcb', N'A', N'a', N'a', CAST(N'2018-11-11T00:00:00.000' AS DateTime), 1, N'0', N'a', N'a', N'Imagenes/20915449_10213919398886951_2534861620868847415_n.jpg', 2, N'ecchi ', 1)
INSERT [dbo].[MATERIALBIBLIOGRAFICO] ([IDMATBIBLIO], [IDLOCALIDAD], [IDCATEGORIA], [IDTIPO], [ID], [NOMBRE], [DESCRIPCION], [SINOPSIS], [FECHA], [VOLUMEN], [UNIDADES], [EDITORIAL], [LENGUAJE], [FOTO], [IDAUTOR], [IDSUBCATEGORIA], [IDBIBLIOTECA]) VALUES (CAST(11 AS Numeric(18, 0)), CAST(1 AS Numeric(18, 0)), N'aaaaaaaaa', CAST(1 AS Numeric(18, 0)), N'922adef2-f529-4e0d-a42c-2fd0bd7eafcb', N'aaaaaaaa', N'a', N'a', CAST(N'2018-11-11T00:00:00.000' AS DateTime), 12, N'12', N'aaaaaaaaaaa', N'a', N'Imagenes/21037969_1647481778629861_108082525_o.jpg', 2, N'aaaaaaaaaaaaaaaaaaaa ', 1)
SET IDENTITY_INSERT [dbo].[MATERIALBIBLIOGRAFICO] OFF
INSERT [dbo].[MUNICIPIO] ([IDMUNICIPIO], [NOMMUN]) VALUES (1, N'San Salvador')
INSERT [dbo].[PERSONA] ([IDPERSONA], [IDMUNICIPIO], [NOMBRE], [APELLIDO], [FECHANACIMIENTO], [GENERO], [DIRECCION], [TELEFONO]) VALUES (N'1', 1, N'a', N'a', CAST(N'2018-11-11' AS Date), N'a', N'a', N'1')
INSERT [dbo].[PERSONA] ([IDPERSONA], [IDMUNICIPIO], [NOMBRE], [APELLIDO], [FECHANACIMIENTO], [GENERO], [DIRECCION], [TELEFONO]) VALUES (N'23', 1, N'a', N'a', CAST(N'2018-11-11' AS Date), N'a', N'a', N'1')
INSERT [dbo].[PERSONA] ([IDPERSONA], [IDMUNICIPIO], [NOMBRE], [APELLIDO], [FECHANACIMIENTO], [GENERO], [DIRECCION], [TELEFONO]) VALUES (N'65', 1, N'aaaaaaaaaaaaaaaaa', N'aaaaaaaaaaaaaaaa', CAST(N'2018-11-11' AS Date), N'a', N'a', N'a')
INSERT [dbo].[PRESTAMO] ([IDPRESTAMO], [IDMATBIBLIO], [ID], [FECHADEPRESTAMO], [FECHADEENTREGA]) VALUES (0, CAST(10 AS Numeric(18, 0)), N'922adef2-f529-4e0d-a42c-2fd0bd7eafcb', N'04/12/2018', N'05/12/2018')
SET IDENTITY_INSERT [dbo].[REGISTRO] ON 

INSERT [dbo].[REGISTRO] ([IDREGISTRO], [Id], [IDPRESTAMO], [IDMATBIBLIO]) VALUES (1, N'922adef2-f529-4e0d-a42c-2fd0bd7eafcb', 0, CAST(10 AS Numeric(18, 0)))
SET IDENTITY_INSERT [dbo].[REGISTRO] OFF
INSERT [dbo].[SUBCATEGORIA] ([IDSUBCATEGORIA], [DESCRIPCION], [IDCATEGORIA]) VALUES (N'aaaaaaaaaaaaaaaaaaaa', N'a', N'aaaaaaaaa')
INSERT [dbo].[SUBCATEGORIA] ([IDSUBCATEGORIA], [DESCRIPCION], [IDCATEGORIA]) VALUES (N'ecchi', N'a', N'hentai')
SET IDENTITY_INSERT [dbo].[TIPODOCUMENTO] ON 

INSERT [dbo].[TIPODOCUMENTO] ([IDTIPO], [TIPODOCUMENTO]) VALUES (CAST(1 AS Numeric(18, 0)), N'libro')
SET IDENTITY_INSERT [dbo].[TIPODOCUMENTO] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_REFERENCE_PERSONA] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[PERSONA] ([IDPERSONA])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_REFERENCE_PERSONA]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_Users_Biblioteca] FOREIGN KEY([IDBIBLIOTECA])
REFERENCES [dbo].[BIBLIOTECA] ([IDBIBLIOTECA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_Users_Biblioteca]
GO
ALTER TABLE [dbo].[CATERGORIA]  WITH CHECK ADD  CONSTRAINT [FK_CATERGOR_REFERENCE_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CATERGORIA] CHECK CONSTRAINT [FK_CATERGOR_REFERENCE_ASPNETUSERS]
GO
ALTER TABLE [dbo].[DEPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTAM_REFERENCE_MUNICIPI] FOREIGN KEY([IDMUNICIPIO])
REFERENCES [dbo].[MUNICIPIO] ([IDMUNICIPIO])
GO
ALTER TABLE [dbo].[DEPARTAMENTO] CHECK CONSTRAINT [FK_DEPARTAM_REFERENCE_MUNICIPI]
GO
ALTER TABLE [dbo].[DETALLEDEPERSONA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLED_REFERENCE_PERSONA] FOREIGN KEY([IDPERSONA])
REFERENCES [dbo].[PERSONA] ([IDPERSONA])
GO
ALTER TABLE [dbo].[DETALLEDEPERSONA] CHECK CONSTRAINT [FK_DETALLED_REFERENCE_PERSONA]
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO]  WITH CHECK ADD  CONSTRAINT [FK_MATERI_CATERGOR] FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATERGORIA] ([IDCATEGORIA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO] CHECK CONSTRAINT [FK_MATERI_CATERGOR]
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO]  WITH CHECK ADD  CONSTRAINT [FK_Material_Biblioteca] FOREIGN KEY([IDBIBLIOTECA])
REFERENCES [dbo].[BIBLIOTECA] ([IDBIBLIOTECA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO] CHECK CONSTRAINT [FK_Material_Biblioteca]
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAL_FK_MATERI_DOCUMENT] FOREIGN KEY([IDLOCALIDAD])
REFERENCES [dbo].[DOCUMENTOLOCALIDAD] ([IDLOCALIDAD])
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO] CHECK CONSTRAINT [FK_MATERIAL_FK_MATERI_DOCUMENT]
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAL_FK_MATERI_TIPODOCU] FOREIGN KEY([IDTIPO])
REFERENCES [dbo].[TIPODOCUMENTO] ([IDTIPO])
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO] CHECK CONSTRAINT [FK_MATERIAL_FK_MATERI_TIPODOCU]
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAL_REFERENCE_AspNetUsers] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO] CHECK CONSTRAINT [FK_MATERIAL_REFERENCE_AspNetUsers]
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO]  WITH CHECK ADD  CONSTRAINT [FK_Material_Subcategoria] FOREIGN KEY([IDSUBCATEGORIA])
REFERENCES [dbo].[SUBCATEGORIA] ([IDSUBCATEGORIA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO] CHECK CONSTRAINT [FK_Material_Subcategoria]
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO]  WITH CHECK ADD  CONSTRAINT [FK_MaterialBibliografico_Autor] FOREIGN KEY([IDAUTOR])
REFERENCES [dbo].[AUTOR] ([IDAUTOR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MATERIALBIBLIOGRAFICO] CHECK CONSTRAINT [FK_MaterialBibliografico_Autor]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_FK_MENU_R_MENU] FOREIGN KEY([MEN_IDMENU])
REFERENCES [dbo].[MENU] ([IDMENU])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_FK_MENU_R_MENU]
GO
ALTER TABLE [dbo].[MENU]  WITH CHECK ADD  CONSTRAINT [FK_MENU_FK_MENU_S_ASPNETROLES] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[MENU] CHECK CONSTRAINT [FK_MENU_FK_MENU_S_ASPNETROLES]
GO
ALTER TABLE [dbo].[PENALIZACION]  WITH CHECK ADD  CONSTRAINT [FK_PENALIZA_FK_PENALI_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PENALIZACION] CHECK CONSTRAINT [FK_PENALIZA_FK_PENALI_ASPNETUSERS]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_REFERENCE_MUNICIPI] FOREIGN KEY([IDMUNICIPIO])
REFERENCES [dbo].[MUNICIPIO] ([IDMUNICIPIO])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PERSONA_REFERENCE_MUNICIPI]
GO
ALTER TABLE [dbo].[PRESTAMO]  WITH CHECK ADD  CONSTRAINT [FK_PRESTAMO_FK_PRESTA_ASPNETUSERS] FOREIGN KEY([ID])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[PRESTAMO] CHECK CONSTRAINT [FK_PRESTAMO_FK_PRESTA_ASPNETUSERS]
GO
ALTER TABLE [dbo].[PRESTAMO]  WITH CHECK ADD  CONSTRAINT [FK_PRESTAMO_FK_PRESTA_MATERIAL] FOREIGN KEY([IDMATBIBLIO])
REFERENCES [dbo].[MATERIALBIBLIOGRAFICO] ([IDMATBIBLIO])
GO
ALTER TABLE [dbo].[PRESTAMO] CHECK CONSTRAINT [FK_PRESTAMO_FK_PRESTA_MATERIAL]
GO
ALTER TABLE [dbo].[REGISTRO]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Material] FOREIGN KEY([IDMATBIBLIO])
REFERENCES [dbo].[MATERIALBIBLIOGRAFICO] ([IDMATBIBLIO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REGISTRO] CHECK CONSTRAINT [FK_Registro_Material]
GO
ALTER TABLE [dbo].[REGISTRO]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Prestamo] FOREIGN KEY([IDPRESTAMO])
REFERENCES [dbo].[PRESTAMO] ([IDPRESTAMO])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REGISTRO] CHECK CONSTRAINT [FK_Registro_Prestamo]
GO
ALTER TABLE [dbo].[REGISTRO]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Users] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[REGISTRO] CHECK CONSTRAINT [FK_Registro_Users]
GO
ALTER TABLE [dbo].[SUBCATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_Subcategoria_Categoria] FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATERGORIA] ([IDCATEGORIA])
GO
ALTER TABLE [dbo].[SUBCATEGORIA] CHECK CONSTRAINT [FK_Subcategoria_Categoria]
GO
USE [master]
GO
